@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap&subset=cyrillic');
@font-face {
    font-family: 'Benguiat Bold';
    src: url('fonts/Benguiat Bold.ttf');
}
@font-face {
    font-family: 'Aver';
    src: url("fonts/Aver.ttf");
}
@font-face {
    font-family: 'Thin Skinned';
    src: url("fonts/ThinSkinned.otf");
}
:root{
    --header-height: 100px;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
header{
    position: fixed;
    height: var(--header-height);
    width: 100%;
    color: red;
    background-color: black;
    z-index: 1;
}
.container{
    max-width: 1473px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}
#header-title{
    float: left;
    line-height: var(--header-height);
    font-family: 'Benguiat Bold', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 1px 0 red, 0 -1px red, -1px 0 red, 0 1px red, 0 0 20px rgba(255,0,0,0.5);
}
#header-title a{
    color: black;
    text-decoration: none;
}
.line{
    display: inline-block;
}
nav{
    float: right;
    height: inherit;
}
#navbar{
    padding: 0;
    margin: 0;
    display: flex;
    height: inherit;
}
.nav-item {
    list-style: none;
    line-height: var(--header-height);
    padding: 0 12px;
    font-family: 'Aver', sans-serif;
    letter-spacing: 2px;
}
.nav-item:hover{
    box-shadow: 0 5px 20px rgba(255,0,0,0.5),0 1px red;
}
#navbar a{
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgb(255, 0, 0);
    font-size: 1.1em;
    color: red;
    padding: 37px 0;
}
#bars{
    position: absolute;
    right: 0;
    top: 0;
    height: var(--header-height);
    width: var(--header-height);
    color: red;
    display: none;
    text-align: center;
}
#bars i{
    line-height: var(--header-height);
    font-size: 25px;
}
#bars:hover{
    color: white;
    cursor: pointer;
}
.open{
    overflow: visible;
}

#picture{
    background: url("img/logo1.jpg") center;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
main{
    position: absolute;
    top: 100vh;
    background-color: #0b0b0b;
    width: 100%;
    z-index: 0;
}
#st{
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
}
#st div{
    background: url("img/wallpaper.jpg") no-repeat top;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

#plot{
    font-size: 18px;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    color: #dd0000;
    text-shadow: 0 1px black, 2px 3px 0px black;
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    font-size: 25px;
    font-weight: 300;
}
#plot h1{
    margin: 1.4em 0;
}
#plot-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#plot-description h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.season{
    max-width: 1200px;
    width: 100%;
    border: 2px ridge #730000;
    box-shadow: 0px 12px 11px 5px rgba(1, 0, 0, 0.74);
    text-align: justify;
    padding: 20px 50px;
    box-sizing: border-box;
    margin: 1.5em auto;
    background-color: #0b0e13a1;
}
.season:first-child{
    margin-top: 0;
}
.season:last-child{
    margin-bottom: 0;
}
.season p{
    text-indent: 2em;
    margin: 0;
    hyphens: auto;
    line-height: 1.5;
    font-size: 16px;
}
.season .image-block{
    height: auto;
    width: 100%;
    margin: 3em 0;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}
.season .image-block img{
    position: relative;
    margin-left: -70px;
    width: auto;
    height: 200px;
    box-shadow: -8px 8px 10px #000000;
    border: 3px #530000 ridge;
    transition: transform 1s;
}
.season .image-block img:first-child{
    margin-left: 0;
}
.season .image-block img:nth-child(-n+3){
    transform: rotate(-20deg);
}
.season .image-block img:nth-child(n+4){
    transform: rotate(20deg);
}
.season .image-block img:hover {
    z-index: 10 !important;
    transform: scale(1.5);
}


.article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.article:nth-child(odd){
    flex-direction: row-reverse;
}
.article .img{
    width: 50%;
    height: 414px;
    box-shadow: -3px 11px 11px 2px rgb(0, 0, 0);
    margin: 0 2%;
    overflow: hidden;
    border: 2px ridge #730000;
}
.article .img img{
    height: 100%;
    width: auto;
}
.article .character-description{
    max-width: 40%;
    margin: 0 2%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: -3px 5px 16px 0px rgba(0, 0, 0, 0.75);
    background-color: #0b0e13a1;
}
.article .character-description h2{
    text-align: center;
    margin: 0 0 20px 0;
}
.article .character-description p{
    text-align: justify;
    margin: 0;
    line-height: 1.5;
}

#actors-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.actor-item{
    height: auto;
    width: 110px;
    margin: 0 13px 20px;
    box-shadow: -3px 6px 12px 0px rgb(0, 0, 0);
}
.actor-item img{
    display: block;
    height: 170px;
    width: 100%;
}
.actor-caption{
    background-color: rgba(255, 255, 255, 0.18);
    height: 80px;
    padding: 2px 3px;
}
.actor-caption p{
    margin: 0;
}
.actor-caption p:last-child{
    font-size: 0.8em;
    font-style: italic;
    margin-top: 3px;
}


#iframe-div{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:0;
    padding-bottom:56%;
    overflow:hidden;
    box-shadow: -5px 5px 8px #050000;
}
#iframe-div iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


#footer{
    margin-top: 50px;
    background-color: #000000d4;
    border-top: 3px ridge #730000;
}
#footer p{
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
.footer-card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-set h3{
    margin: 20px 0;
}
.footer-set ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-set li{
    margin-top: 5px;
}
.footer-set a{
    text-decoration: none;
    color: white;
}
.footer-set a:hover{
    color: red;
}


@media screen and (max-width: 1515px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media screen and (max-width: 1200px){
    :root{
        --header-height: 90px;
    }
    header{
        font-size: 0.9em;
        height: var(--header-height);
    }
    #header-title{
        line-height: var(--header-height);
    }
    .season{
        font-size: 16px;
    }
    .season .image-block img{
        margin-left: -100px;
    }
    .article{
        height: auto;
        margin: 10vh 0;
    }
    .article#mike{
        margin-top: 0;
    }
    .article:last-child{
        margin-bottom:0;
    }
    .article .img img{
        margin-left: -100px;
    }
    .actor-item{
        width: 100px;
    }
    .actor-item img{
        height: 160px;
    }
    .actor-caption{
        height: 50px;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1100px){
    .season .image-block img{
        margin-left: -120px;
    }
}
@media screen and (max-width: 1024px){
    :root{
        --header-height: 75px;
    }
    h1{
        font-size: 1.5em;
        /* margin-top: 1.4em; */
        /* margin-bottom: 1.4em; */
    }
    h2{
        font-size: 22px;
    }
    header{
        font-size: 0.8em;
        height: var(--header-height);
    }
    #header-title{
        line-height: var(--header-height);
    }
    #navbar a{
        padding-bottom: 31px;
    }
    #picture{
        background-image: url("img/img-small/logo1_1000px.jpg");
    }
    #plot p, #characters p, .footer-card li{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px){
    h1{
        font-size: 1.6em;
        /* margin-bottom: 1.5em; */
        /* margin-top: 1.5em; */
    }
    .nav-item{
        padding:0 7px;
    }
    .nav-item:last-child{
        padding-right: 0;
    }
    .season{
        padding: 15px 30px;
    }
    .season .image-block{
        flex-wrap: wrap;
    }
    .season .image-block img{
        width: auto;
        margin-left: -60px;
    }
    .season .image-block img:nth-child(3n+2){
        transform: rotate(-5deg);
    }
    .season .image-block img:nth-child(3n+3){
        transform: rotate(20deg);
    }
    .season .image-block img:nth-child(3n+1){
        transform: rotate(-20deg);
    }
    .season .image-block img:hover{
        transform: scale(1.5);
    }
    .article .img{
        max-width: 40%;
        height: 340px;
    }
    .article .img img{
        margin-left: -150px;
    }
    .article .character-description{
        max-width: 50%;
    }
}
@media screen and (max-width: 855px)  {
    #header-title{
        font-size: 30px;
    }
    .line{
        display: block;
        text-align: center;
        line-height: calc(var(--header-height)/2);
    }
    header{
        height: var(--header-height);
    }
}
@media screen and (max-width: 768px){
    h1{
        font-size: 1.3em;
    }
    .season .image-block img{
        margin-left: -20px;
        margin-top: -20px;
    }
    .season .image-block img:nth-child(2n+1){
        transform: rotate(-15deg);
    }
    .season .image-block img:nth-child(2n+2){
        transform: rotate(15deg);
    }
    .season .image-block img:hover{
        transform: scale(1.5);
    }
}
@media screen and (max-width: 590px) {
    :root{
        --header-height: 65px;
    }
    h3{
        font-weight: 300;
        font-size: 18px;
    }
    header{
        overflow: hidden;
        height: var(--header-height);
    }
    #header-title{
        font-size: 6.5vw;
    }
    .line{
        display: inline-block;
    }
    #bars{
        display: block;
    }
    nav{
        float: none;
        clear: left;
        height: var(--header-height);
        background-color: black;
        top: var(--header-height);
        padding: 0;
        width: 100vw;
        margin-left: -2%;
    }
    #navbar{
        flex-wrap: wrap;
    }
    .nav-item{
        width: 25%;
        min-width: 115px;
        line-height: calc(var(--header-height) - 1px);
        text-align: center;
    }
    #navbar a{
        padding: 27px 5px;
    }
    .season{
        padding-left: 10px;
        padding-right: 10px;
    }
    .season .image-block{
        padding:0;
    }
    .season .image-block img{
        height:150px;
    }
    .season .image-block img:nth-child(2n+1){
        margin-left:0;
    }
    
    .article .img{
        max-width:100%;
        width: auto;
        height: 320px;
        margin: 0 0 30px;
    }
    .article .img img{
        margin: 0;
    }
    .article .character-description{
        max-width:100%;
        margin: 0;
    }

}


@media screen and (max-width: 460px){
    /*:root{
        --header-height: 55px;
    }*/
    h1{
        font-size:1.2em;
    }
    h2{
        font-size:20px;
    }
    #plot p, #characters p, .footer-card li{
        font-size: 14px !important;
    }
    .nav-item{
        width: 100%;
        background-color: black;
        line-height: 55px;
    }
    .nav-item:hover{
        box-shadow: 0 5px 20px rgba(255,0,0,0.5);
    }
    .season{
        padding-left: 10px;
        padding-right: 10px;
    }
    .season .image-block{
        padding:0;
    }
    .season .image-block img{
        height:150px;
    }
    .season .image-block img:nth-child(2n+1){
        margin-left:0;
    }
    .article .img img{
        margin-left: -80px;
    }
     .actor-item{
        width: 90px
    }
    .actor-item img{
        height: 140px;
    }
    .actor-item .actor-caption{
        height:65px
    }
}
@media screen and (max-width:376px){
    .article .img{
        height:250px;
    }
    .article .img img{
        margin-left: -50px
    }
    .actor-item{
        width: 80px
    }
    .actor-item img{
        height: 125px;
    }
   
}
@media screen and (max-width:321px){
    .footer-card{
        flex-direction:column;
        align-items: center;
    }    
}
