@import url('https://fonts.googleapis.com/css?family=Montserrat|Poiret+One&display=swap');
@font-face {
    font-family: 'Benguiat Bold';
    src: url('fonts/Benguiat Bold.ttf');
}
@font-face {
    font-family: 'Aver';
    src: url("fonts/Aver.ttf");
}
@font-face {
    font-family: 'Thin Skinned';
    src: url("fonts/ThinSkinned.otf");
}
:root{
    --header-height: 100px;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
header{
    position: fixed;
    height: var(--header-height);
    width: 100%;
    color: red;
    background-color: black;
    z-index: 1;
}
.container{
    max-width: 1473px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
}
#header-title{
    float: left;
    line-height: var(--header-height);
    font-family: 'Benguiat Bold', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 1px 0 red, 0 -1px red, -1px 0 red, 0 1px red, 0 0 20px rgba(255,0,0,0.5);
}
#header-title a{
    color: black;
    text-decoration: none;
}
.line{
    display: inline-block;
}
nav{
    float: right;
    height: inherit;
}
#navbar{
    padding: 0;
    margin: 0;
    display: flex;
    height: inherit;
}
.nav-item {
    list-style: none;
    line-height: var(--header-height);
    padding: 0 12px;
    font-family: 'Aver', sans-serif;
    letter-spacing: 2px;
}
.nav-item:hover{
    box-shadow: 0 5px 20px rgba(255,0,0,0.5),0 1px red;
}
#navbar a{
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgb(255, 0, 0);
    font-size: 1.1em;
    color: red;
    padding: 37px 0;
}
#bars{
    position: absolute;
    right: 0;
    top: 0;
    height: var(--header-height);
    width: var(--header-height);
    color: red;
    display: none;
    text-align: center;
}
#bars i{
    line-height: var(--header-height);
    font-size: 25px;
}
#bars:hover{
    color: white;
    cursor: pointer;
}
.open{
    overflow: visible;
}
@media screen and (max-width: 1515px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media screen and (max-width: 1200px){
    :root{
        --header-height: 90px;
    }
    header{
        font-size: 0.9em;
        height: var(--header-height);
    }
    #header-title{
        line-height: var(--header-height);
    }
}
@media screen and (max-width: 1000px){
    :root{
        --header-height: 75px;
    }
    header{
        font-size: 0.8em;
        height: var(--header-height);
    }
    #header-title{
        line-height: var(--header-height);
    }
    #navbar a{
        padding-bottom: 31px;
    }
}
@media screen and (max-width: 900px){
    .nav-item{
        padding:0 7px;
    }
    .nav-item:last-child{
        padding-right: 0;
    }
}
@media screen and (max-width: 855px)  {
    #header-title{
        font-size: 30px;
    }
    .line{
        display: block;
        text-align: center;
        line-height: calc(var(--header-height)/2);
    }
    header{
        height: var(--header-height);
    }
}
@media screen and (max-width: 590px) {
    :root{
        --header-height: 65px;
    }
    header{
        overflow: hidden;
        height: var(--header-height);
    }
    #header-title{
        font-size: 6.5vw;
    }
    .line{
        display: inline-block;
    }
    #bars{
        display: block;
    }
    nav{
        float: none;
        clear: left;
        height: var(--header-height);
        background-color: black;
        top: var(--header-height);
        padding: 0;
        width: 100vw;
        margin-left: -2%;
    }
    #navbar{
        flex-wrap: wrap;
    }
    .nav-item{
        width: 25%;
        line-height: calc(var(--header-height) - 1px);
        text-align: center;
    }
    #navbar a{
        padding: 27px 5px;
    }
}
@media screen and (max-width: 420px){
    :root{
        --header-height: 55px;
    }
    .nav-item{
        width: 100%;
        background-color: black;
    }
    .nav-item:hover{
        box-shadow: 0 5px 20px rgba(255,0,0,0.5);
    }
}

#picture{
    background: url("img/logo1.jpg") center;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
main{
    position: absolute;
    top: 100vh;
    background-color: #0b0b0b;
    width: 100%;
    z-index: 0;
}
#plot{
    font-size: 18px;
}
#plot h1, #characters h1, #actors h1, #trailer h1{
    text-align: center;
    font-size: 2em;
    margin-top: 2.5em;
    margin-bottom: 100px;
    color: red;
}
#characters h1{
    margin-bottom: 0;
}
#plot-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#plot-description h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.plot-padding{
    padding: 0;
    margin: 1.5em auto;
    max-width: 1100px;
    width: 100%;
}
.season{
    border: 1px solid red;
    box-shadow: 0 0 20px rgba(255,0,0,0.5);
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}
.season:first-child{
    margin-top: 0;
}
.season:last-child{
    margin-bottom: 0;
}
.season p{
    text-indent: 2em;
    margin: 0;
    hyphens: auto;
    line-height: 1.5;
}
@media screen and (max-width: 1190px){
    .plot-padding{
        padding-left: 2%;
        padding-right: 2%;
    }
    .season{
        border: none;
        font-size: 16px;
    }
}
.article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.article:nth-child(odd){
    flex-direction: row-reverse;
}
.article img{
    max-width: 50%;
    box-shadow: 0 0 20px 1px rgba(255, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0 2%;
}
.article .character-description{
    max-width: 40%;
    margin: 0 2%;
    overflow: hidden;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(255, 0, 0, 0.5);
}
.article .character-description h2{
    text-align: center;
    margin: 0 0 20px 0;
}
.article .character-description p{
    text-align: justify;
    margin: 0;
    line-height: 1.5;
}
@media screen and (max-width: 1162px) {
    .article img{
        max-width: 40%;
    }
    .article .character-description{
        max-width: 50%;
        font-size: 16px;
    }
}
@media screen and (max-width: 1055px){
    .article img{
        max-width: 100%;
    }
    .article .character-description{
        max-width: 100%;
    }
}

#actors-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.actor-item{
    height: auto;
    width: 117px;
    margin: 0 13px 20px;
    box-shadow: 0 0 17px 1px rgba(255, 0, 0, 0.5);
}

.actor-item img{
    display: block;
    height: 188px;
    width: 100%;
}
.actor-caption{
    background-color: rgba(255, 255, 255, 0.18);
    height: 56px;
    padding: 2px 3px;
}
.actor-caption p{
    margin: 0;
}
.actor-caption p:last-child{
    font-size: 0.8em;
    font-style: italic;
    margin-top: 3px;
}
#iframe-div{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:0;
    padding-bottom:42%;
    overflow:hidden;
}
#iframe-div iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#footer{
    margin-top: 50px;
    background-color: black;
    border-top: 1px solid red;
    box-shadow: 0 -1px 10px red;
}
#footer p{
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
.footer-card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.footer-set h3{
    margin: 20px 0;
}
.footer-set ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-set li{
    margin-top: 5px;
}
.footer-set a{
    text-decoration: none;
    color: white;
}
.footer-set a:hover{
    color: red;
}
.
/*
main > img{
    width: 100%;
    position: fixed;
    z-index: -1;
}
main > div{
    width: 100%;
    height: 200px;
    background-color: #c6c6c6;
    position: absolute;
    top: 500px;
}*/
